<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite">
    <test name="Test Basics 1">
        <classes>
            <class name="org.TestNG.LandingPage"/>
            <class name="org.TestNG.ProfilePageTest"/>
            <class name="org.TestNG.LoginTest"/>
        </classes>
    </test>
</suite>